<div id="header">
    <h1><a routerLink="/home">Deviation One</a></h1>
    <div id="socialmedia">
        <a class="icon" href="https://www.instagram.com/deviationone/"><img src="../../assets/icons/002-instagram.png" alt="Instagram-Link" width="50px"></a>
        <a class="icon" href="https://www.youtube.com/channel/UCPAaUdStaGfyIt8N5f5XS_Q"><img src="../../assets/icons/001-youtube.png" alt="YouTube-Link" width="50px"></a>
        <a class="icon" href="https://open.spotify.com/artist/0liCiRujjYxmJ5q4fLp07F?si=ty2AzoRWQteXwAmoqG6jtA"><img src="../../assets/icons/003-spotify.png" alt="Spotify-Logo" width="50px"></a>
    </div>
</div>
