* {
    background-color: rgb(20, 20, 20);
}

#socialmedia {
    max-width: 10rem;
    margin: auto;
    margin-bottom: 0;
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: ghostwhite;
    font-size: .5rem;
}

a:hover, a:focus {
    color: rgb(255, 180, 0);
}

#impressum {
    margin: 0;
    margin-left: .5rem;
}

@media screen and (max-width: 431px) {
    #footer {
        margin-top: -3rem;
    }
}